{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div data-section-wrapper="1" id="header-logo">
        <center>
            <table data-section="1" cellspacing="0" cellpadding="0" width="1280" class="w320">
                <tr>
                    <td valign="top" style="text-align:center;" class="mobile-center" data-slot-container="1">
                        <div data-slot="image">
                            <img src="{{ getAssetUrl('themes/'~template~'/img/_logo.png', null, null, true) }}">
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div data-section-wrapper="1" valign="top" style="background-color: #000000; background-position: center;">
        <center>
            <table data-section="1" cellspacing="0" cellpadding="0" width="1280" height="303" class="w320">
                <tr>
                    <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:center;" class="mobile-center" height="303" data-slot-container="1">
                        <div data-slot="text">
                            <h1 style="color: #ffffff">Heading Goes here</h1><br>
                            <h2 style="color: #ffffff">Sub-heading goes here</h2>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div data-section-wrapper="1">
        <center>
            <table data-section="1" cellspacing="0" cellpadding="30" width="1280" class="w290">
                <tr>
                    <td valign="top" data-slot-container="1">
                        <div data-slot="text">
                            <h3 style="text-align:center;">Heading</h3>
                            <br>

                            <p>Some text content goes here</p>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div data-section-wrapper="1" style="background-color:#c2c2c2;">
        <center>
            <table data-section="1" cellspacing="0" cellpadding="0" width="1280" class="w320">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="30" width="100%">
                            <tr>
                                <td style="text-align:center;" data-slot-container="1">
                                    <div data-slot="text">
                                        <p>&copy; 2019 | All Rights Reserved</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table style="margin:0 auto;" cellspacing="0" cellpadding="5" width="100%">
                                <tr>
                                    <td style="text-align:center; margin:0 auto;" width="100%" data-slot-container="1">
                                        <div data-slot="image">
                                            <a href="#" style="text-align:center;">
                                                <img style="margin:0 auto;" src="{{ getAssetUrl('themes/'~template~'/img/_logo.png', null, null, true) }}" alt="logo link" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </div>
{% endblock %}
